# --- Windows and Mac files
[Tt]humbs.db
.DS_Store

# --- Root
/*
!.github
!.tests
!assets
!inc
!.editorconfig
!.gitattributes
!.gitignore
!composer.json
!composer.lock
!CONTRIBUTING.md
!LICENSE
!phpcs.xml
!phpstan.neon
!phpunit.xml
!plugin.php
!README.md
!readme.txt
