# --- Windows and Mac files
[Tt]humbs.db
.DS_Store

# --- Root
/*
!.github
!.tests
!assets
!inc
!.editorconfig
!.gitattributes
!.gitignore
!.wp-env.json
!composer.json
!composer.lock
!CONTRIBUTING.md
!LICENSE
!package.json
!package-lock.json
!phpcs.xml
!phpstan.neon
!phpunit.xml
!plugin.php
!README.md
!readme.txt
