# --- Windows and Mac files
[Tt]humbs.db
.DS_Store

# --- Root
/*
!.github
!.tests
!.wordpress-org
!assets
!inc
!.distignore
!.editorconfig
!.gitattributes
!.gitignore
!aysnc-login-with-auth0.php
!composer.json
!composer.lock
!CONTRIBUTING.md
!LICENSE
!phpcs.xml
!phpstan.neon
!phpunit.xml
!README.md
!readme.txt
